.main-chat
  .chat-header
    .chat_group-name
      %h2
        = @group.name
      .chat-member
        %p Members: 
        .chat-member_name
          - @group.users.each do |user,index|
            %h3 
              = user.name
    .chat_edit
      = link_to edit_group_path(@group) do
        %p Edit
  .chat-content
    = render @messages
  .form
    = form_for([@group, @message],id: "new-comment") do |f|
      .form-action
        .form-position
          = f.text_field :content, class: "chat_form-text", placeholder: "type a message"
          = f.label :image, class: 'form__mask__image' do
            = icon('fa', 'image', class: 'fa-image')
            = f.file_field :image, class: 'file-input'
        .fore-submit
          = f.submit 'Send', class: "submit_btn"